In [42]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [34]:
suicide2005=pd.read_csv("2005.csv")
suicide2006=pd.read_csv("2006.csv")
suicide2007=pd.read_csv("2007.csv")
suicide2008=pd.read_csv("2008.csv")
suicide2009=pd.read_csv("2009.csv")
suicide2010=pd.read_csv("2010.csv")
suicide2011=pd.read_csv("2011.csv")

In [35]:
suicide2007.columns

Index(['Unnamed: 0', 'state', 'vet_pop', 'overall_pop_18', 'vet_pop_p',
       'vet_suicides', 'all_suicides', 'vet_suicides_p', 'vet_males',
       'vet_males_p', 'vet_females', 'vet_females_p', 'vet_15_24', 'vet_18_29',
       'vet_17_34', 'vet_25_34', 'vet_30_39', 'vet_25_44', 'vet_35_44',
       'vet_40_49', 'vet_35-54', 'vet_45_54', 'vet_50_59', 'vet_45_64',
       'vet_55_64', 'vet_60', 'vet_65', 'vet_rate', 'civ_rate'],
      dtype='object')

In [70]:
frames = [suicide2005, suicide2006, suicide2007, suicide2008, suicide2009, suicide2010, suicide2011]
bigdata = pd.concat(frames)
bigdata.head()
bigdata.to_csv("Cumulated_Data.csv", index=False)

In [71]:
Y = bigdata.vet_suicides
feature_names = ["state", "vet_pop", 
                 "vet_males", "vet_females", 
                 "vet_15_24", "vet_18_29", "vet_17_34", "vet_25_34", 
                 "vet_30_39", "vet_25_44", "vet_35_44", "vet_40_49", 
                 "vet_35-54", "vet_45_54", "vet_50_59", "vet_45_64", 
                 "vet_55_64", "vet_60", "vet_65"]

X = bigdata[feature_names]
print(X)

             state  vet_pop  vet_males  vet_females  vet_15_24  vet_18_29  \
0          Alabama   403950        NaN          NaN        NaN        NaN
1           Alaska    74482       22.0          2.0        1.0        NaN
2          Arizona   538880        NaN          NaN        NaN        NaN
3         Arkansas   259304       79.0          2.0        NaN        NaN
4       California  2193336      613.0         20.0       20.0        NaN
5         Colorado   402091      183.0          8.0        7.0        NaN
6      Connecticut   261294        NaN          NaN        NaN        NaN
7         Delaware    79151       17.0          0.0        0.0        NaN
8         Florida*  1717801        NaN          NaN        NaN        NaN
9          Georgia   731466        NaN          NaN        3.0        NaN
10          Hawaii   116793        NaN          NaN        NaN        NaN
11           Idaho   132844       63.0          2.0        2.0        NaN
12        Illinois   853338        NaN          NaN       10.0        NaN
13         Indiana   505259      111.0          1.0        NaN        2.0
14            Iowa   249911        NaN          NaN        NaN        NaN
15          Kansas   238506       82.0          4.0        2.0        NaN
16        Kentucky   341752        NaN          NaN        NaN        NaN
17       Louisiana   337822        NaN          NaN        NaN        8.0
18           Maine   145352        NaN          NaN        NaN        NaN
19        Maryland   480654        NaN          NaN        4.0        NaN
20   Massachusetts   453249       49.0          2.0        0.0        NaN
21        Michigan   782823      225.0          7.0        3.0        NaN
22       Minnesota   407255      100.0          3.0        2.0        NaN
23     Mississippi   226398       68.0          0.0        4.0        NaN
24     Missouri***   533517      177.0          3.0        6.0        NaN
25         Montana   100637       57.0          2.0        1.0        NaN
26        Nebraska   154607        NaN          NaN        NaN        NaN
27          Nevada   233633        NaN          NaN        2.0        NaN
28   New Hampshire   129603       37.0          0.0        NaN        NaN
29      New Jersey   546437       79.0          1.0        2.0        NaN
..             ...      ...        ...          ...        ...        ...
20   Massachusetts   386609       57.0          2.0        0.0        NaN
21        Michigan   671051      216.0          1.0       12.0        NaN
22       Minnesota   366790      109.0          3.0        5.0        NaN
23     Mississippi   201148       73.0          3.0        3.0        NaN
24     Missouri***   490162      177.0          3.0        6.0        NaN
25         Montana    94872       53.0          2.0        2.0        NaN
26        Nebraska   146104        NaN          NaN        NaN        NaN
27          Nevada   228213        NaN          NaN        3.0        NaN
28   New Hampshire   115297       33.0          0.0        NaN        NaN
29      New Jersey   444887       89.0          3.0        2.0        NaN
30      New Mexico   177041       78.0          5.0        8.0        NaN
31        New York   917741      235.0          9.0        9.0        NaN
32  North Carolina   740470      198.0         11.0        9.0        NaN
33  North Dakota**    55556       25.0          0.0        2.0        NaN
34            Ohio   876163      267.0          3.0        5.0        NaN
35        Oklahoma   319724        NaN          NaN        5.0        NaN
36          Oregon   319194      144.0          6.0        1.0        NaN
37    Pennsylvania   954659      276.0          9.0        NaN        NaN
38    Rhode Island    71863        NaN          NaN        NaN        NaN
39  South Carolina   398985      150.0          8.0        8.0        NaN
40    South Dakota    70027        NaN          NaN        NaN        NaN
41       Tennessee   486407      189.0          1.0        8.0        NaN
42           Texas  1593072      504.0         23.0        NaN       53.0
43            Utah   146806       68.0          3.0        0.0        NaN
44         Vermont    51373       17.0          1.0        0.0        NaN
45        Virginia   734757      190.0          7.0        4.0        NaN
46      Washington   597778      196.0         11.0        9.0        NaN
47   West Virginia   155581       67.0          3.0        1.0        NaN
48       Wisconsin   413735        NaN          NaN        6.0        NaN
49         Wyoming    52415        NaN          0.0        NaN        NaN

    vet_17_34  vet_25_34  vet_30_39  vet_25_44  vet_35_44  vet_40_49  \
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        1.0        NaN        NaN        4.0        NaN
2         NaN        NaN        NaN        NaN        NaN        NaN
3         5.0        NaN        NaN        NaN       35.0        NaN
4         NaN        NaN        NaN       76.0        NaN        NaN
5         NaN       15.0        NaN        NaN       24.0        NaN
6         NaN        NaN        NaN        NaN        NaN        NaN
7         NaN        0.0        NaN        NaN        4.0        NaN
8         NaN        NaN        NaN        NaN        NaN        NaN
9         NaN       12.0        NaN        NaN       24.0        NaN
10        NaN        NaN        NaN        NaN        NaN        NaN
11        NaN        4.0        NaN        NaN        NaN        NaN
12        NaN       15.0        NaN        NaN       32.0        NaN
13        NaN        NaN        9.0        NaN        NaN       17.0
14        NaN        NaN        NaN        NaN        NaN        NaN
15        NaN        5.0        NaN        NaN       16.0        NaN
16        NaN        NaN        NaN        NaN        NaN        NaN
17        NaN        NaN       12.0        NaN        NaN       11.0
18        NaN        NaN        NaN        NaN        NaN        NaN
19        NaN        8.0        NaN        NaN       18.0        NaN
20        NaN        2.0        NaN        NaN        1.0        NaN
21        NaN       17.0        NaN        NaN       37.0        NaN
22        NaN        3.0        NaN        NaN        9.0        NaN
23        NaN        4.0        NaN        NaN        7.0        NaN
24        NaN       12.0        NaN        NaN       24.0        NaN
25        NaN        NaN        NaN       12.0        NaN        NaN
26        NaN        NaN        NaN        NaN        NaN        NaN
27        NaN        2.0        NaN        NaN        7.0        NaN
28        NaN        NaN        NaN        NaN        NaN        NaN
29        NaN        4.0        NaN        NaN        7.0        NaN
..        ...        ...        ...        ...        ...        ...
20        NaN        3.0        NaN        NaN        7.0        NaN
21        NaN       13.0        NaN        NaN       25.0        NaN
22        NaN        6.0        NaN        NaN       21.0        NaN
23        NaN        6.0        NaN        NaN       10.0        NaN
24        NaN       12.0        NaN        NaN       24.0        NaN
25        NaN        NaN        NaN       11.0        NaN        NaN
26        NaN        NaN        NaN        NaN        NaN        NaN
27        NaN        7.0        NaN        NaN       12.0        NaN
28        NaN        NaN        NaN        NaN        NaN        NaN
29        NaN        3.0        NaN        NaN        8.0        NaN
30        NaN        6.0        NaN        NaN        9.0        NaN
31        NaN        9.0        NaN        NaN       30.0        NaN
32        NaN       18.0        NaN        NaN       26.0        NaN
33        NaN        4.0        NaN        NaN        4.0        NaN
34        NaN       26.0        NaN        NaN       21.0        NaN
35        NaN       14.0        NaN        NaN       17.0        NaN
36        NaN        9.0        NaN        NaN       24.0        NaN
37        NaN        NaN        NaN        NaN        NaN        NaN
38        NaN        NaN        NaN        NaN        NaN        NaN
39        NaN        7.0        NaN        NaN       15.0        NaN
40        NaN        NaN        NaN        NaN        NaN        NaN
41        NaN       17.0        NaN        NaN       13.0        NaN
42        NaN        NaN       42.0        NaN        NaN       84.0
43        NaN        0.0        NaN        NaN        0.0        NaN
44        NaN        0.0        NaN        NaN        0.0        NaN
45        NaN       17.0        NaN        NaN       20.0        NaN
46        NaN       18.0        NaN        NaN       26.0        NaN
47        NaN        6.0        NaN        NaN        8.0        NaN
48        NaN        8.0        NaN        NaN       15.0        NaN
49        NaN        NaN        NaN        NaN        NaN        NaN

    vet_35-54  vet_45_54  vet_50_59  vet_45_64  vet_55_64  vet_60  vet_65
0         NaN        NaN        NaN        NaN        NaN     NaN     NaN
1         NaN        9.0        NaN        NaN        5.0     NaN     4.0
2         NaN        NaN        NaN        NaN        NaN     NaN     NaN
3         NaN        NaN        NaN        NaN       16.0     NaN    25.0
4         NaN        NaN        NaN      220.0        NaN     NaN   317.0
5         NaN       35.0        NaN        NaN       39.0     NaN    71.0
6         NaN        NaN        NaN        NaN        NaN     NaN     NaN
7         NaN        3.0        NaN        NaN        2.0     NaN     8.0
8         NaN        NaN        NaN        NaN        NaN     NaN     NaN
9         NaN       27.0        NaN        NaN       44.0     NaN    70.0
10        NaN        NaN        NaN        NaN        NaN     NaN     NaN
11       18.0        NaN        NaN        NaN       15.0     NaN    26.0
12        NaN       34.0        NaN        NaN       51.0     NaN    77.0
13        NaN        NaN       23.0        NaN        NaN    59.0     NaN
14        NaN        NaN        NaN        NaN        NaN     NaN     NaN
15        NaN       15.0        NaN        NaN       19.0     NaN    28.0
16        NaN        NaN        NaN        NaN        NaN     NaN     NaN
17        NaN        NaN       23.0        NaN        NaN    47.0     NaN
18        NaN        NaN        NaN        NaN        NaN     NaN     NaN
19        NaN       16.0        NaN        NaN       13.0     NaN    48.0
20        NaN        6.0        NaN        NaN        8.0     NaN    33.0
21        NaN       39.0        NaN        NaN       49.0     NaN    87.0
22        NaN       27.0        NaN        NaN       24.0     NaN    38.0
23        NaN       13.0        NaN        NaN        8.0     NaN    32.0
24        NaN       33.0        NaN        NaN       33.0     NaN    72.0
25        NaN        NaN        NaN       27.0        NaN     NaN    19.0
26        NaN        NaN        NaN        NaN        NaN     NaN     NaN
27        NaN       20.0        NaN        NaN       30.0     NaN    48.0
28        NaN        NaN        NaN        NaN        NaN     NaN     NaN
29        NaN       10.0        NaN        NaN       16.0     NaN    41.0
..        ...        ...        ...        ...        ...     ...     ...
20        NaN        6.0        NaN        NaN        6.0     NaN    27.0
21        NaN        1.0        NaN        NaN       45.0     NaN    81.0
22        NaN       25.0        NaN        NaN       24.0     NaN    36.0
23        NaN       10.0        NaN        NaN        9.0     NaN    38.0
24        NaN       33.0        NaN        NaN       33.0     NaN    72.0
25        NaN        NaN        NaN       21.0        NaN     NaN    21.0
26        NaN        NaN        NaN        NaN        NaN     NaN     NaN
27        NaN       17.0        NaN        NaN       34.0     NaN    52.0
28        NaN        NaN        NaN        NaN        NaN     NaN     NaN
29        NaN        9.0        NaN        NaN       15.0     NaN    55.0
30        NaN       14.0        NaN        NaN       11.0     NaN    35.0
31        NaN      118.0        NaN        NaN       67.0     NaN    11.0
32        NaN       22.0        NaN        NaN       50.0     NaN    82.0
33        NaN        4.0        NaN        NaN        5.0     NaN     6.0
34        NaN       49.0        NaN        NaN       66.0     NaN   103.0
35        NaN       28.0        NaN        NaN       35.0     NaN    42.0
36        NaN       23.0        NaN        NaN       34.0     NaN    59.0
37        NaN        NaN        NaN        NaN        NaN     NaN     NaN
38        NaN        NaN        NaN        NaN        NaN     NaN     NaN
39        NaN       27.0        NaN        NaN       26.0     NaN    57.0
40        NaN        NaN        NaN        NaN        NaN     NaN     NaN
41        NaN       28.0        NaN        NaN       52.0     NaN    72.0
42        NaN        NaN       96.0        NaN        NaN   247.0     NaN
43        NaN       14.0        NaN        NaN       16.0     NaN    31.0
44        NaN        4.0        NaN        NaN        5.0     NaN     9.0
45        NaN       37.0        NaN        NaN       37.0     NaN    81.0
46        NaN       22.0        NaN        NaN       50.0     NaN    82.0
47        NaN       13.0        NaN        NaN       17.0     NaN    25.0
48        NaN       33.0        NaN        NaN       48.0     NaN    57.0
49        NaN        NaN        NaN        NaN        NaN     NaN     NaN

[350 rows x 19 columns]

In [72]:
bigdata.head()

,Unnamed: 0,state,vet_pop,overall_pop_18,vet_pop_p,vet_suicides,all_suicides,vet_suicides_p,vet_males,vet_males_p,...,vet_40_49,vet_35-54,vet_45_54,vet_50_59,vet_45_64,vet_55_64,vet_60,vet_65,vet_rate,civ_rate
0,0,Alabama,403950,3344721,0.120772,135,535,0.252336,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.419978,13.601875
1,1,Alaska,74482,446969,0.166638,24,131,0.183206,22.0,0.916667,...,NaN,NaN,9.0,NaN,NaN,5.0,NaN,4.0,32.222550,28.725835
2,2,Arizona,538880,4238996,0.127124,225,945,0.238095,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.753266,19.458849
3,3,Arkansas,259304,2023819,0.128126,81,400,0.202500,79.0,0.975309,...,NaN,NaN,NaN,NaN,NaN,16.0,NaN,25.0,31.237466,18.078622
4,4,California,2193336,25543447,0.085867,633,3206,0.197442,613.0,0.968404,...,NaN,NaN,NaN,NaN,220.0,NaN,NaN,317.0,28.860147,11.019220

In [75]:
bigdata = bigdata.fillna(lambda x: x.median())

In [76]:
bigdata.isnull().any()

Unnamed: 0        False
state             False
vet_pop           False
overall_pop_18    False
vet_pop_p         False
vet_suicides      False
all_suicides      False
vet_suicides_p    False
vet_males         False
vet_males_p       False
vet_females       False
vet_females_p     False
vet_15_24         False
vet_18_29         False
vet_17_34         False
vet_25_34         False
vet_30_39         False
vet_25_44         False
vet_35_44         False
vet_40_49         False
vet_35-54         False
vet_45_54         False
vet_50_59         False
vet_45_64         False
vet_55_64         False
vet_60            False
vet_65            False
vet_rate          False
civ_rate          False
dtype: bool

In [78]:
suicide_model = DecisionTreeRegressor(random_state=1)
suicide_model.fit(one_hot_encoded_training_predictors,Y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

,Unnamed: 0,state,vet_pop,overall_pop_18,vet_pop_p,vet_suicides,all_suicides,vet_suicides_p,vet_males,vet_males_p,...,vet_40_49,vet_35-54,vet_45_54,vet_50_59,vet_45_64,vet_55_64,vet_60,vet_65,vet_rate,civ_rate
0,0,Alabama,403950,3344721,0.120772,135,535,0.252336,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.419978,13.601875
1,1,Alaska,74482,446969,0.166638,24,131,0.183206,22.0,0.916667,...,NaN,NaN,9.0,NaN,NaN,5.0,NaN,4.0,32.222550,28.725835
2,2,Arizona,538880,4238996,0.127124,225,945,0.238095,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.753266,19.458849
3,3,Arkansas,259304,2023819,0.128126,81,400,0.202500,79.0,0.975309,...,NaN,NaN,NaN,NaN,NaN,16.0,NaN,25.0,31.237466,18.078622
4,4,California,2193336,25543447,0.085867,633,3206,0.197442,613.0,0.968404,...,NaN,NaN,NaN,NaN,220.0,NaN,NaN,317.0,28.860147,11.019220